body {
  font-family: sans-serif;
  color: #fff;
  background-color: #000;
  max-width: 800px;
  font-size: 12px;
}

hr {
  border: none;
  background-color: #fff;
  height: 1px;
}

img[src*="#floatleft"] {
  float: left;
  margin-right: 8px;
  margin-bottom: 2px;
}

img[src*="#floatright"] {
  float: right;
  margin-left: 8px;
  margin-bottom: 2px;
}

br {
  clear: both;
}

a {
  color: #fff;
  text-decoration: underline;
}

img, h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 30px;
  margin-bottom: 8px;
}

h2 {
  font-size: 20px;
  margin-bottom: 6px;
}

h3 {
  font-size: 16px;
  margin-bottom: 6px;
}

h4 {
  font-size: 14px;
  margin-bottom: 6px;
}

p {
  margin: 0;
  margin-bottom: 8px;
}

ul {
  margin: 0;
  margin-bottom: 8px;
}

table {
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 8px;
}

td, th {
  padding: 0.2em;
  border: 1px solid #fff;
}

#latest-updates-table {
  width: 100%;
}
